*,
h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2 !important;
}
.FromHolder {
  position: relative;
}
.FormTitle {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(184, 182, 182);
  box-shadow: 0px 0px 5px 0px rgba(182, 174, 174, 0.701);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}
.FormTitle h3 {
  font-size: 18px;
}
.clickCircle {
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 15px;
}
.FromHolder {
  margin-bottom: 20px;
}
.formStyle {
  border: 1px solid rgb(184, 182, 182);
  box-shadow: 0px 0px 5px 0px rgba(182, 174, 174, 0.701);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-top: none;
}

.formStyle input[type="submit"] {
  padding: 10px 20px;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px 0px rgba(182, 174, 174, 0.701);
}
.dnone {
  display: none !important;
}
.laodingThinks {
  height: 93.5%;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.488);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(100, 255, 242);
  z-index: 9999999;
}
.resultshit {
  font-family: Arial, Helvetica, sans-serif;
}
h3 sup {
  font-size: 15px;
}
