@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding-top: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contenedor {
  width: 400px;
  height: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.centro {
  width: 180px;
  height: 200px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 200px;
  cursor: pointer;
  background: #242020;
  border: 0px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

.btn1 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 0px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 500 580;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 0s ease-in-out;
  background: #11cec4;
}

.btn1:hover {
  transition: 0s ease-in-out;
  background: #11cec4;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
  transition: ease-in #0000;
}

.btn1 span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
  transition: ease-in #0000;
}

.btn span:hover {
  color: black;
}

.btn1 span:hover {
  color: black;
}
